@import url('../../../data/fonts/fonts.css');

.section{
    width:12em;
    height:25em;
    margin-Left:5em ;
    border-Style:double;
    border-Color:whitesmoke;
    margin-Top:1em;
    color:whitesmoke;
    background-color: black;
}
.img{
    height: 8em;
    size: cover;
    margin: .5em;
}

.category{
    color: white;
    font-size: x-small;
}
.catBut{
    color: white;
    font-size: x-small;
    background-color: black;
    border-color: none;
    border-style: none;
}
.catBut:hover{
    cursor: pointer;
}

.container{
    margin-top: 2em;
    margin-bottom: 2em;
}

/* .countlessSection{
    width:12em;
    height:25em;
    margin-Left:5em ;
    border-Style:double;
    border-Color:whitesmoke;
    margin-Top:1em;
    color:whitesmoke;
    background-color:purple;
} */

.tittle{
    color:white;
    margin-top: 0px;
    font-family: 'Alkatra';
    font-size: large;
    font-weight: 200;
}

/* .countlessTittle{
    color:yellow;
    font-family: "OldeEnglish";
    font-size: x-large;
    margin-top: 0px;
    font-weight: 200;
} */

.text{
    font-family: 'Lora';
    font-size: smaller;
    font-weight:lighter;
}
/* .countlessText{
    font-family: 'Ancient_medium';
    font-size: medium;
    font-weight: lighter;
} */

.link{
    color: orangered;
    font-family: 'Roboto';
    font-size: x-small;
    font-weight: lighter;
}
/* .countlessLink{
    color: black;
    font-family: 'Seagram';
    font-size: small;
    font-weight: lighter;
} */
