.section{
    width:12em;
    height:20em;
    margin-Left:0px ;
    border-Style:double;
    border-Color:whitesmoke;
    margin-Top:1em;
    color:whitesmoke;
    background-color: black;
}
.img{
    height: 5em;
    size: cover;
    margin: .5em;
}


.container{
    margin-top: 2em;
    margin-bottom: 2em;
}

.tittle{
    color:white;
    margin-top: 0px;
    font-family: 'Alkatra';
    font-size: large;
    font-weight: 200;
}

.text{
    font-family: 'Lora';
    font-size: smaller;
    font-weight:lighter;
}

.link{
    color: orangered;
    font-family: 'Roboto';
    font-size: x-small;
    font-weight: lighter;
}

