.section{
    width: 800;
    height: 320px;
    background-color: black;
    width: 32%;
    height: 20%;
    margin-left: 34%;
    margin-right: 34%;
}
.button{
    margin-top: 1%;
    background: none;
    border-color: none;
    border-style: none;
    opacity: 0.6;
}
.imgbutton{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: 0.5 ease;
}
.button:hover{
    cursor: crosshair;
    opacity: 1;
    filter: contrast(120%);
}

