
@font-face {
    font-family: 'Lora';
    src: url('./Lora-VariableFont_wght.ttf');
}


@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Alkatra';
    src: url('./Alkatra-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('./Merriweather-Regular.ttf');
}