@import url('../../../data/fonts/fonts.css');

/* esto es para screens de 1600 x 900, tengo que acomodar para la mia */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    min-height: 75vh;

}

.tittle{
    color: white;
    font-family: 'Alkatra';
}