@import url('../../../data/fonts/fonts.css');
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 75vh;

}

.tittle{
    color: white;
    font-family: 'Alkatra';
}