@import url('../../../data/fonts/fonts.css');
.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner{
    height: 14em;
    border-bottom-left-radius:4em;
    border-bottom-right-radius: 4em;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgTittle{
    height: 4.5em;
}
.containerDetails{
    display: flex;
    flex-direction: row;
}
.articles{
    width: 15em;
}
.gifs{
    height: 15em;
    margin-left: .5em;
}
.texto{
    color: whitesmoke;
    font-family:'Lora';
    font-size:medium;
}
.reqContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tittle{
    color: rgb(255, 246, 142);
    font-family: 'Alkatra';
    font-size:3em;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 0.5em;

}
.tittleReq{
    color: rgb(255, 246, 142);
    font-family: 'Alkatra';
    font-size:3em;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 2em;
}
.requisites{
    margin-top: 5px;
    width: 20em;
}