@import url('../../../data/fonts/fonts.css');

@media (min-width:1400px) {
    
    .mainContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        place-content: center;
    }
    .banner{
        height: 14em;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        border-bottom-left-radius:4em;
        border-bottom-right-radius: 4em;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgTittle{
        height: 4.5em;
    }
    .containerDetails{
        display: flex;
        flex-direction: row;
    }
    .articles{
        width: 15em;
    }
    .gifs{
        height: 15em;
        margin-left: .5em;
    }
    .texto{
        color: whitesmoke;
        font-family:'Lora';
        font-size:medium;
    }
    .reqContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tittle{
    color: rgb(255, 246, 142);
    font-family: 'Alkatra';
    font-size:3em;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 0.5em;
    
}
.tittleReq{
    color: rgb(255, 246, 142);
    font-family: 'Alkatra';
    font-size:3em;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 2em;
}
.requisites{
    margin-top: 5px;
    width: 20em;
}
}

@media (max-width:360px) {
    
    .mainContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        place-content: center;
    }
    .banner{
        width: 80%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius:40px;
        border-bottom-right-radius: 40px;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .containerDetails{
        display: flex;
        flex-direction: row;
    }
    .articles{
        width: 50%;
    }
    .gifs{
        height: 90px;
        margin-left: .5em;
    }
    .texto{
        color: whitesmoke;
        font-family:'Lora';
        font-size:8px;
    }
    .reqContainer{
        margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tittle{
    color: rgb(255, 246, 142);
    font-family: 'Alkatra';
    font-size:20px;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 0.5em;
    
}
.tittleReq{
    color: rgb(255, 246, 142);
    font-family: 'Alkatra';
    font-size:21px;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 2em;
}
.requisites{
    margin-top: 5px;
    width: 20em;
}
}

@media (min-width:360px) and (max-width:480px) {
    
    .mainContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        place-content: center;
        margin: 10px;
    }
    .banner{
        width: 80%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius:40px;
        border-bottom-right-radius: 40px;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .containerDetails{
        display: flex;
        flex-direction: row;
    }
    .articles{
        width: 50%;
    }
    .gifs{
        height: 110px;
        margin-left: .5em;
    }
    .texto{
        color: whitesmoke;
        font-family:'Lora';
        font-size:10px;
    }
    .reqContainer{
        margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tittle{
    color: rgb(255, 246, 142);
    font-family: 'Alkatra';
    font-size:22px;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 0.5em;
    
}
.tittleReq{
    color: rgb(255, 246, 142);
    font-family: 'Alkatra';
    font-size:23px;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 2em;
}
.requisites{
    margin-top: 5px;
    width: 20em;
}
}
@media (min-width:480px) and (max-width:780px) {
    
    .mainContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        place-content: center;
        margin: 1em;
    }
    .banner{
        width: 80%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius:40px;
        border-bottom-right-radius: 40px;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .containerDetails{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .articles{
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-left: 2em;
        margin-top: 5px;
    }
    .gifs{
        height: 145px;
        margin-left: .5em;
        margin-top: .5em;
    }
    .texto{
        color: whitesmoke;
        font-family:'Lora';
        font-size:12px;
    }
    .reqContainer{
        margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3em;

}
.tittle{
    color: rgb(255, 246, 142);
    font-family: 'Alkatra';
    font-size:28px;
    font-weight: 200;
    margin-bottom: 0px;
    margin-top: 0.5em;
    
}
.tittleReq{
    color: rgb(255, 246, 142);
    font-family: 'Alkatra';
    font-size:26px;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 2em;
}
.requisites{
    margin-top: 5px;
    width: 20em;
}
}
@media (min-width:780px) and (max-width:1080px) {
    
    .mainContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        place-content: center;
        margin: 1em;
    }
    .banner{
        width: 80%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius:40px;
        border-bottom-right-radius: 40px;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .containerDetails{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .articles{
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-left: 6em;
        margin-top: 5px;
    }
    .gifs{
        height: 225px;
        margin-left: .5em;
        margin-top: .5em;
    }
    .texto{
        color: whitesmoke;
        font-family:'Lora';
        font-size:18px;
    }
    .reqContainer{
        margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3em;

}
.tittle{
    color: rgb(255, 246, 142);
    font-family: 'Alkatra';
    font-size:34px;
    font-weight: 200;
    margin-bottom: 0px;
    margin-top: 0.5em;
    
}
.tittleReq{
    color: rgb(255, 246, 142);
    font-family: 'Alkatra';
    font-size:26px;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 2em;
}
.requisites{
    margin-top: 5px;
    width: 20em;
}
}
@media (min-width:1080px) and (max-width:1400px) {
    
    .mainContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        place-content: center;
        margin: 1em;
    }
    .banner{
        width: 80%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius:40px;
        border-bottom-right-radius: 40px;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .containerDetails{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .articles{
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-left: 6em;
        margin-top: 5px;
    }
    .gifs{
        height: 225px;
        margin-left: .5em;
        margin-top: .5em;
    }
    .texto{
        color: whitesmoke;
        font-family:'Lora';
        font-size:20px;
        margin-top: 1em;
        margin-bottom: 0px;
    }
    .reqContainer{
        margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3em;

}
.tittle{
    color: rgb(255, 246, 142);
    font-family: 'Alkatra';
    font-size:34px;
    font-weight: 200;
    margin-bottom: 0px;
    margin-top: 0.5em;
    
}
.tittleReq{
    color: rgb(255, 246, 142);
    font-family: 'Alkatra';
    font-size:26px;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 2em;
}
.requisites{
    margin-top: 5px;
    width: 20em;
}
}