@import url('../../../data/fonts/fonts.css');
/* pantalla de 1600 * 900 */
.container{
    align-items: center;
    min-height: 75vh;
}
.filterContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: center;
    margin: 0px;
}
.filterText{
    color: white;
    margin-right: 5px;
    font-size: small;
    font-family: 'Alkatra';
    font-weight: 300;
}
.select{
    background-color: rgb(7, 7, 7);
    color: whitesmoke;
    font-size: small;
    font-family: 'Alkatra';
}
.newsContainer{
    display: grid;
    grid-template-columns: repeat(5, 300px);
    align-items: center;
    min-height: 27em;
    margin-bottom: 1em;
}