@import url('../../../data/fonts/fonts.css');
.container{
    align-items: center;
}
.filterContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: center;
    margin: 0px;
}
.filterText{
    color: white;
    margin-right: 5px;
    font-size: small;
    font-family: 'Seagram';
    font-weight: 300;
}
.select{
    background-color: rgb(7, 7, 7);
    color: whitesmoke;
    font-size: small;
    font-family: 'Seagram';
}