@import url('../../../data/fonts/fonts.css');
/* pantalla de 1900 * 1080 */
@media (min-width:1400px) {
    
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        place-content: center;
        min-height: 100vh;
}
    .filterContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        place-content: center;
        margin: 0px;
    }
    .filterText{
        color: white;
        margin-right: 5px;
        font-size: small;
        font-family: 'Alkatra';
        font-weight: 300;
    }
    .select{
        background-color: rgb(7, 7, 7);
        color: whitesmoke;
        font-size: small;
        font-family: 'Alkatra';
    }
    .newsContainer{
        display: grid;
        grid-template-columns: repeat(5, 300px);
        align-items: center;
        place-content: center;
        min-height: 27em;
        margin-bottom: 1em;
    }
}
@media (max-width:360px) {
    
    .container{
        margin-top: 15px;
        align-items: center;
        place-content: center;
        align-items: center;
        width: 95%;
        min-height: 275px;
    }
    .filterContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        place-content: center;
        margin: 0px;
    }
    .filterText{
        color: white;
        margin-right: 5px;
        font-size: xx-small;
        font-family: 'Alkatra';
        font-weight: 300;
    }
    .select{
        background-color: rgb(7, 7, 7);
        color: whitesmoke;
        font-size: x-small;
        font-family: 'Alkatra';
    }
    .newsContainer{
        display: grid;
        grid-template-columns: repeat(2, 100px);
        align-items: center;
        place-content: center;
        margin-bottom: 1em;
        margin-right: 4em;
    }
}
@media (min-width:360px) and (max-width:480px) {
    
    .container{
        margin-top: 40px;
        align-items: center;
        place-content: center;
        align-items: center;
        width: 95%;
        min-height: 500px;
    }
    .filterContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        place-content: center;
        margin: 0px;
    }
    .filterText{
        color: white;
        margin-right: 5px;
        font-size: small;
        font-family: 'Alkatra';
        font-weight: 300;
    }
    .select{
        background-color: rgb(7, 7, 7);
        color: whitesmoke;
        font-size: small;
        font-family: 'Alkatra';
    }
    .newsContainer{
        display: grid;
        grid-template-columns: repeat(2, 150px);
        align-items: center;
        place-content: center;
        margin-bottom: 1em;
        margin-right: 4em;
    }
}
@media (min-width:480px) and (max-width:780px) {
    
    .container{
        margin-top: 40px;
        align-items: center;
        place-content: center;
        align-items: center;
        width: 90%;
        min-height: 800px;
    }
    .filterContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        place-content: center;
        margin: 0px;
    }
    .filterText{
        color: white;
        margin-right: 5px;
        font-size: large;
        font-family: 'Alkatra';
        font-weight: 300;
    }
    .select{
        background-color: rgb(7, 7, 7);
        color: whitesmoke;
        font-size: large;
        font-family: 'Alkatra';
    }
    .newsContainer{
        display: grid;
        grid-template-columns: repeat(3, 150px);
        gap: .5em;
        align-items: center;
        place-content: center;
        margin-bottom: 1em;
        margin-right: 4em;
    }
}
@media (min-width:780px) and (max-width:1080px) {
    
    .container{
        margin-top: 40px;
        align-items: center;
        place-content: center;
        align-items: center;
        width: 90%;
        min-height: 800px;
    }
    .filterContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        place-content: center;
        margin: 0px;
    }
    .filterText{
        color: white;
        margin-right: 5px;
        font-size: larger;
        font-family: 'Alkatra';
        font-weight: 300;
    }
    .select{
        background-color: rgb(7, 7, 7);
        color: whitesmoke;
        font-size: larger;
        font-family: 'Alkatra';
    }
    .newsContainer{
        display: grid;
        grid-template-columns: repeat(3, 200px);
        gap: .5em;
        align-items: center;
        place-content: center;
        margin: auto;
    }
}
@media (min-width:1080px) and (max-width:1400px) {
    
    .container{
        margin-top: 40px;
        align-items: center;
        place-content: center;
        align-items: center;
        width: 90%;
        min-height: 800px;
    }
    .filterContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        place-content: center;
        margin: 0px;
    }
    .filterText{
        color: white;
        margin-right: 5px;
        font-size: large;
        font-family: 'Alkatra';
        font-weight: 300;
    }
    .select{
        background-color: rgb(7, 7, 7);
        color: whitesmoke;
        font-size: large;
        font-family: 'Alkatra';
    }
    .newsContainer{
        display: grid;
        grid-template-columns: repeat(4, 200px);
        gap: .5em;
        align-items: center;
        place-content: center;
        margin: auto;
    }
}