@import url('../../../data/fonts/fonts.css');

.container{
    display: flex;
}
.image{
    border-radius: 1em;
    margin-right: 10px;
}

.tittle{
    font-family: 'Alkatra';
    margin-bottom: 0px;
}

.genre{
    font-family: 'Lora';
    margin-top: 0px;
}
