@import url('.././../../data/fonts/fonts.css');
.container{
    display: flex;
    flex-direction: column;
    min-height: 31em;
    align-items: center;
}
.button{
    width: fit-content;
    height: 2em;
    margin: 2em;
    background-color: rgba(17, 17, 17, 0);
    border-style: none;
    color: antiquewhite;
    font-size: medium;
    z-index: 1000;
    position: fixed;
    font-weight: 700;
    border-radius: 3em;
    left: 1em;
}
.button:hover{
    background-color: orange;
    cursor: pointer;
    color: black;
    font-weight: 700;
}

.section{
    width: 30%;
    align-items: center;
    color: whitesmoke;
    margin-top: 2em;
}

.img{
    height: 10em;
}
.tittle{
    font-size: x-large;
    font-family: 'Alkatra';
}
.text{
    font-size: medium;
    font-family: 'Roboto';
}   
